.header{
  display: flex;  
  flex-direction: column;
  align-items: center;  
  height: 28rem;  
  transition: .5s ease-in-out;
}

.headerSmall{
  display: flex;  
  flex-direction: column;
  align-items: center;  
  height: 12rem;  
  transition: .5s ease-in-out;
}

/*replace with grid so i can re arrange the header elements in the small style*/

.headerHead{
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid orange;
}

.patternBg{  
  width: 100%;
  height: 70%;
  z-index: 1;
  background-size: 140vw !important;      
  border: 2px solid red;
}

.waves{          
  background: url('../../patterns/waves.png');  
}

.userPic{        
  position: absolute;
  bottom: 0;  
  left: 50%;
  transform: translateX(-50%);
  
  width: 15rem;  
  height: 15rem;    
  border-radius: 100%;    
  border: 10px solid white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;    
  z-index: 2;  
  transition: .5s ease-in-out;

  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
}

.smallUserPic{
  position: absolute;
  bottom: 0;  
  left: 50%;
  transform: translateX(-50%);
  
  width: 6rem;  
  height:6rem;    
  border-radius: 100%;    
  border: 5px solid white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;    
  z-index: 2;  
  transition: .5s ease-in-out;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
}

.userPic > img{  
  height: 100%;
  width: auto;
  z-index: 2;
}

.userData{
  z-index: 2;  
  /*background-color: white;*/  
  width: 60vw;
}

.userData > *{  
  margin-top: 0;
  margin-bottom: 0;
}

.userData > h2{
  font-weight: 700;
}

.userData > h4{
  font-weight: 500;
}

.userData > p {
  margin-top: 5%;
}