.app {
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
}


.mainContent {
  background: white;
  width: 50rem;
  margin-right: 20rem;
  min-height: 100vh;
  margin-left: 4rem;
  z-index: 2 !important;
}